.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/
debug.log
branch instructions.md
# Editor directories and files
.env.self
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/.env.wyj
yarn.lock